
<h1><%= @event.title %></h1>


<div class="text-center"><%= render attend_button %></div>

<p><b>Location: </b><%= @event.location %></p> 
<p><b>Host: </b><%= @event.creator.name %></p>

<p><%= @event.description %></p>

</br>

<b>Who's Going:</b>

<ol>
<% @event.invitees.each do |invitee| %>
   <li><%= link_to invitee.name, invitee %></li>
<% end %>
</ol>