<!DOCTYPE html>
<html>
<head>
  <title>PrivateEvents</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <%= render 'layouts/header' %>
    <%= yield %>
    <div class="footer">
      <p>An event planning application, by <a href="https://twitter.com/AlixKamwa">@AlixKamwa</a>.</p>
    </div>
  </div> <!-- /container -->

</body>
</html>